.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    width: 20vw;
    text-align: center;

}
.skillIcon {
    height: 80px;
    width: 80px;
    background: rgba(255,255,255,0.1);
    transform: rotate(45deg);
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsDescription {
    text-align: center;
}
@media screen and (max-width: 1132px) {
    .skill {
        width: 70vw;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .skill {
        width: 80vw;
    }
}
