.projects {
    min-height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
}
.container {
    border: 1px solid violet;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

