.skills {
    min-height: 100vh;
    background-color: greenyellow;
    display: flex;
    justify-content: center;

}
.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.skillsTitle {
    display: flex;
    justify-content: center;
}
.skillsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
@media screen and (max-width: 1132px) {
    .skillsWrapper {
        flex-direction: column;

    }
}



