.project {
    display: flex;
    background-color: #fff;
    width: 500px;
    flex-direction: column;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}
.projectImg {

}
.btnShow {
    width: 150px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}