.header {
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
}
.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}

@media screen and (max-width: 440px) {
    .container{
        margin-right: 15vw;
    }
}