.navMenu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;

}
.link {
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 350px;
        border: 1px solid black;
        margin-right: 4vw;
    }
}
@media screen and (max-width: 400px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 320px;
        margin-right: 4vw;
    }
}
